[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
typing-extensions = "*"
infisical = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
djangorestframework = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
